# 导出所有用户可见的函数
export(WideDatasetCharacterNameInMultipleLanguge)
export(SearchCharactersNameInDetails)
export(SearchCharactersNameInMultipleLanguge)
export(ColorDataSets_Classic)
export(Maid_colors_Romaji)
export(Maid_color)
